
#contenedor-productos, #contenedor-productos-inactivos, .contenedor-productos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 3rem;
    margin-top: 2rem;
}

.card-producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 170px;       /* ← Cambiá esto para ajustar el tamaño */
    min-height: 170px;
    padding: 10px;
    gap: 6px;
    background-color: var(--bg-card-product);
    color: var(--text-product);
    border-radius: 8px;
    border: 3px solid var(--border-card);
    box-shadow: 4px 4px 0px var(--shadow-card);
    font-size: 10px;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

@media(max-width: 430px) {
    .card-producto{
        width: 156px;
    }
}
.card-producto img {
    width: 100%;
    aspect-ratio: 2/3;   /* proporción clásica de tapa de cómic/libro */
    object-fit: cover;
}

.card-producto h4 {
    font-family: 'Bangers', cursive;
    font-size: 14px;
    letter-spacing: 1px;
}

.card-producto p {
    margin-top: auto;
}
---
.carrito svg {
    width: 24px;
    height: 24px;
    border: 1px solid rebeccapurple;
}
